// Custom.scss
// $primary: indigo;
$primary: #cf9b38;
$secondary: #f5ebe1;
$dark: rgb(162, 162, 162); // Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
@import "~/node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  h1 {
    font-family: "Rochester", cursive;
    // font-family: "Vibur", cursive;
  }
  .container {
    position: relative;
  }
}
.btn {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "lines";
@import "dot";
@import "pagination";
@import "table";
